// GLOBAL VARIABLES //////////////////////////////////////

$instagram-panel-padding: 5px;
$panel-shadow: 5px 5px 2px #323232;
$border-color: #323232;
$instagram-panel-width: 190px;
$twitter-panel-width: 300px;

// GLOBAL STYLES ////////////////////////////////////////
html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
a {
    font-family: Arial;
    text-decoration: none;
    color: #3f729b;
    font-size: 12px;
}
a:hover {
    text-decoration: none;
}

// NAVBAR STYLES /////////////////////////////////
.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

button.btn-search  {
    border-radius: 0px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: 1px solid #D8D8D8; 
    padding: 5px 25px;
}
.navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #D8D8D8; 
    background-color: #333333;
}

.navbar-nav > li {
    color: white;
    padding-top: 15px;
    font-size: 13px;
}

.navbar-nav li a {
    font-size: 13px;
    color: #D8D8D8;
    font-weight: bolder;
     padding-right: 10px;
    padding-left: 10px; 
}
.navbar-nav li a:hover {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-size: 24px;
    padding-left: 30px;
    text-shadow: 4px 4px 1px black;
}

#panel-toggle {
        position: absolute;
        bottom: 5%;
        right: 3%;
        // margin-left: -100px;
        z-index: 5;
        background-color: black;
}
.navbar select {
     border-radius: 0px;
}
.navbar-form .form-control {
    padding: 15px;
}
.navbar-nav span#blue-favorites a {
    color: #2980B9;
}

// SIGNUP/LOGIN FORMS /////////////////////////// 

.form-control {
    border-radius: 0px;
    padding: 15px;
}

.signup-form {
    background-color: #fff;
    border: 1px solid $border-color;
    opacity: 0.7;
    padding: 20px;
    box-shadow: $panel-shadow;
    border: 1px solid $border-color;
    border-radius: 5px;
    z-index: 5;
    margin-top: 10%;
}

.signup-form h1 {
    text-align: center;
    font-weight: bolder;
}

.background-yosemite {
    background-image: url("yosemite.jpg");
    background-size: cover;
    height: 100%;
}


.background-times-square {
    background-image: url("times_square.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

.background-bazaar {
    background-image: url("bazaar.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}


.dark-background {
    background-color: rgba(0,0,0,0.7);
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 2;
}

input.btn-search  {
    border-radius: 0px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: 1px solid #D8D8D8; 
    padding: 5px 25px;
}

input.btn-search:hover  {
    color: #D8D8D8; 
}  

.form-control {
    border: 2px solid #5b5b5b;
}

// ABOUT PAGE //////////////////////////////////////////

.grand-canyon {
    background-image: url("grand_canyon.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.about {
    background-color: #fff;
    border: 1px solid $border-color;
    opacity: 0.7;
    padding: 20px;
    box-shadow: $panel-shadow;
    border: 1px solid $border-color;
    border-radius: 5px;
    z-index: 5;
    margin-top: 10%;
    width: 100%;
}

.about a {
    color: #4183c4;
    font-size: 24px;
}

// FAVORITES PAGE //////////////////////////////////////

.favorites {
    background-color: #D8D8D8;
    width: 100%;
    height: 1000%;
    background-size: cover;
}

.panel-favorites {
    background-color: #fff;
    border: 1px solid $border-color;
    opacity: 0.8;
    padding: 10px;
    box-shadow: $panel-shadow;
    border: 1px solid $border-color;
    border-radius: 5px;
}

.panel-favorites img {
    padding: 10px 5px;
}

.panel-favorites a {
    font-weight: bolder;
}


// PANEL STYLES ON MAP SHOW PAGE //////////////////////////////
p {
    margin: 0;
    width: 100%;
    padding: 0px;
    padding-top: 5px;
    font-size: 12px;
}
p a {
    color: black;
}

h4 {
    width: 150px;
    padding: 5px;
    margin: 0;
    font-size: 14px;
}
h5 {
    padding: 0px;
    margin: 0px;
}
.fa-star-o:hover {
    color: yellow;
}
.media-heading {
    margin: 0;
}
img.main {
    width:150px;
}
img.profile {
    width: 25%;
}
.panel-1 {
    position: absolute;
    top: 20%;
    left: 7%;
    z-index: 5;
    background-color: #fff;
    border: 1px solid $border-color;
    opacity: 0.8;
    padding: $instagram-panel-padding;
    box-shadow: $panel-shadow;
    width: $instagram-panel-width;
}
.panel-2 {
    position: absolute;
    top: 13%;
    left: 78%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid $border-color;
    opacity: 0.8;
   padding: $instagram-panel-padding;
   box-shadow: $panel-shadow;
   width: $instagram-panel-width;
}
.panel-3 {
    position: absolute;
    top: 37%;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid $border-color;
    opacity: 0.8;
   padding: $instagram-panel-padding;
   box-shadow: $panel-shadow;
   width: $instagram-panel-width;
}
.panel-4 {
    position: absolute;
    top: 56%;
    left: 7%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    opacity: 0.8;
    padding: $instagram-panel-padding;
    box-shadow: $panel-shadow;
    width: $instagram-panel-width;
}
.panel-5 {
    position: absolute;
    top: 45%;
    left: 66%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid $border-color;
    opacity: 0.8;
   padding: $instagram-panel-padding;
   box-shadow: $panel-shadow;
   width: $instagram-panel-width;
}
.panel-6 {
    position: absolute;
    top: 52%;
    left: 82%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid $border-color;
   padding: $instagram-panel-padding;
   box-shadow: $panel-shadow;
   width: $instagram-panel-width;
}
.panel-7 {
    position: absolute;
    top: 15%;
    left: 49%;
    z-index: 8;
    background-color: #fff;
    border: 2px solid #323232;
    opacity: 0.8;
    width: 300px;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
      box-shadow: $panel-shadow;
      width: $twitter-panel-width;
}
.panel-8 {
    position: absolute;
    top: 13%;
    left: 20%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid #323232;
    border-radius: 10px;
    opacity: 0.8;
    width: 300px;
    padding: 10px 10px 5px 10px;
    box-shadow: $panel-shadow;
    width: $twitter-panel-width;
}
.panel-about {
    position: absolute;
    top: 23%;
    left: 20%;
    // background-color: #333333;
    color: white;
    // border: 1px solid $border-color;
    // opacity: 0.8;
    // padding: 20px 40px;
    // box-shadow: $panel-shadow;
    // border: 1px solid $border-color;
    // border-radius: 5px;
    z-index: 100;
    width: 800px;
    text-shadow: 2px 2px 1px black;
}

button.btn-about  {
    border-radius: 0px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: 1px solid #D8D8D8; 
    padding: 5px 25px;
    margin: 5px;
    width: 168px;
}

.about-dark {
    position: absolute;
    top: 9%;
    left: 0;
    z-index: 10;
    background-color: #333333;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}
     