$instagram-panel-padding: 5px;
$panel-shadow: 5px 5px 2px #323232;
$border-color: #323232;
$instagram-panel-width: 140px;
$twitter-panel-width: 300px;

html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'proxima-nova', 'Helvetica Neue', Arial;
}
a {
    font-family: 'proxima-nova', 'Helvetica Neue', Arial;
    text-decoration: none;
    color: #3f729b;
    font-size: 12px;
}
a:hover {
    text-decoration: none;
}

h4 {
    margin:0; 
}
.media-heading {
    margin: 0;
}
button.btn-search  {
    border-radius: 0px;
    height: 34px;
    font-size: 12px;
}

.form-control {
    border-radius: 0px;
    padding: 15px;
}

img.main {
    width:100px;
}
img.profile {
    width: 10%;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav > li {
    color: white;
    padding-top: 13px;
    padding-right: 10px;
}

.navbar-nav li  a {
    font-size: 15px;
}

p {
    margin: 0;
    width: 100%;
    padding: 0px;
    padding-top: 5px;
    font-size: 12px;
}

p a {
    color: black;
}

h4 {
    width: 150px;
    padding: 5px;
    margin: 0;
    font-size: 10px;
}
h5 {
    padding: 0px;
    margin: 0px;
}

.fa-star-o:hover {
    color: yellow;
}

.navbar-inverse .navbar-brand {
    color: white;
}

#panel-toggle {
        position: absolute;
        top: 8%;
        left: 99%;
        margin-left: -100px;
        z-index: 5;
        background-color: black;
      }

.outline {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: none;
    -webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 150px;
}

.inner {
    position: absolute;
    -webkit-transform: rotateY(40deg); /* Chrome, Safari, Opera  */
    transform: rotateY(40deg);
    background-color: #fff;
}
.signup-form {
    background-color: #fff;
    border: 1px solid $border-color;
    opacity: 0.8;
    padding: 20px;
    box-shadow: $panel-shadow;
    border: 1px solid $border-color;
    border-radius: 5px;
    z-index: 5;
    margin-top: 30%;
}
.panel-favorites {
    background-color: #fff;
    border: 1px solid $border-color;
    opacity: 0.8;
    padding: $instagram-panel-padding;
    box-shadow: $panel-shadow;
    border: 1px solid $border-color;
    border-radius: 5px;
}

.panel-favorites img {
    padding: 5px;
}

.panel-1 {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 5;
    background-color: #fff;
    border: 1px solid $border-color;
    opacity: 0.8;
    padding: $instagram-panel-padding;
    box-shadow: $panel-shadow;
    width: $instagram-panel-width;
}
.panel-2 {
    position: absolute;
    top: 10%;
    left: 78%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid $border-color;
    opacity: 0.8;
   padding: $instagram-panel-padding;
   box-shadow: $panel-shadow;
   width: $instagram-panel-width;
}
.panel-3 {
    position: absolute;
    top: 20%;
    left: 80%;
    z-index: 6;
    border: 2px solid $border-color;
    opacity: 0.8;
   padding: $instagram-panel-padding;
   box-shadow: $panel-shadow;
   width: $instagram-panel-width;
}
.panel-4 {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    opacity: 0.8;
    padding: $instagram-panel-padding;
    box-shadow: $panel-shadow;
    width: $instagram-panel-width;
}
.panel-5 {
    position: absolute;
    top: 50%;
    left: 72%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid $border-color;
    opacity: 0.8;
   padding: $instagram-panel-padding;
   box-shadow: $panel-shadow;
   width: $instagram-panel-width;
}
.panel-6 {
    position: absolute;
    top: 60%;
    left: 80%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid $border-color;
   padding: $instagram-panel-padding;
   box-shadow: $panel-shadow;
   width: $instagram-panel-width;
}
.panel-7 {
    position: absolute;
    top: 15%;
    left: 45%;
    z-index: 8;
    background-color: #fff;
    border: 2px solid #323232;
    opacity: 0.8;
    width: 300px;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
      box-shadow: $panel-shadow;
      width: $twitter-panel-width;
}
.panel-8 {
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid #323232;
    border-radius: 10px;
    opacity: 0.8;
    width: 300px;
    padding: 10px 10px 5px 10px;
    box-shadow: $panel-shadow;
    width: $twitter-panel-width;
}
.panel-9 {
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid #323232;
    border-radius: 10px;
    opacity: 0.8;
    width: 300px;
    padding: 10px 10px 5px 10px;
    box-shadow: $panel-shadow;
    width: $twitter-panel-width;
}
.panel-10 {
    position: absolute;
    top: 70%;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    border: 2px solid #323232;
    border-radius: 10px;
    opacity: 0.8;
    width: 300px;
    padding: 10px 10px 5px 10px;
    box-shadow: $panel-shadow;
    width: $twitter-panel-width;
}

     