<div class="grand-canyon">
<div class="container dark-background">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">

			 
		     <div class="about">
		     	<h2><strong>Instaview Project</strong></h2>
	
					
					<h3>Instaview displays recent Instagrams and Tweets from a single geolocation against its Google Street View backdrop. The project was built using Ruby on Rails, Javascript and MongoDB.</h3>

					<h3>Instaview was produced by <a href="https://www.github.com/grock006">Greg Rock</a> as part of <a href="https://generalassemb.ly/education/web-development-immersive">General Assembly's Web Development Immersive program</a>. Learn more about the project and the technologies used at the <a href="https://github.com/grock006/Instaview">project's Github page</a>.</h3>

					<h3>If you have any questions regarding the project please contact:<a href="mailto:grock006@gmail.com"> Greg Rock</a></h3>

		     </div>
				

		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>
</div>
