<div class="grand-canyon">
<div class="container dark-background">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">

			 
		     <div class="about">
		     	<h2 class="text-center"><strong>Instaview Project</strong></h2>
	
					
					<h3>Instaview displays recent Instagrams and Tweets from a single geolocation against its Google Street View backdrop. The project was built using Ruby on Rails, Javascript and MongoDB.</h3>

					<h3>Instaview was produced by <a href="https://www.github.com/grock006">Greg Rock</a> as part of <a href="https://generalassemb.ly/education/web-development-immersive">General Assembly's Web Development Immersive program</a>. Learn more about the project and the technologies used at the <a href="https://github.com/grock006/Instaview">project's Github page</a>.</h3>
							<br>
					    	<div class="text-center">
								<a href="mailto:grock006@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
								<a href="https://github.com/grock006" target="_blank" style="padding:0px 15px;"><i class="fa fa-github fa-2x"></i></a>
								<a href="https://www.linkedin.com/in/gregrock1" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
							</div>

		     </div>
				

		</div>
		<div class="col-md-3">
			
		</div>
	</div>
</div>
</div>
