<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Street View containers</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 50%;
        left: 40%;
        z-index: 5;
        background-color: #fff;
        padding: 10px 10px 10px 40px;
        border: 2px solid #999;
        width: 20%;
      }
      .navbar {
        margin-bottom: 0px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyH6_rxueEsjg0nKXAN23lhziVfY1rirU"></script>
    <script>
          function initialize() {
            var map = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
            var panoramaOptions = {
              position: map,
              pov: {
                heading: 0,
                pitch: -4
              },
              zoom: 0
            };
            var myPano = new google.maps.StreetViewPanorama(
                document.getElementById('map-canvas'),
                panoramaOptions);
            myPano.setVisible(true);
            }

          google.maps.event.addDomListener(window, 'load', initialize);

          window.opener.location.reload(true);

    </script>
  </head>
  <body>


    <%= render partial: "objects" %>

 <div class="about-dark"></div>   

  <div class="panel-about">
     <div class="row">
      <div class="col-md-6 text-center">
      <h1><strong>Instaview displays geolocated Instagrams and Tweets against Google Street View.</strong></h1>
        <br>
      <% if current_user %>
          <a href="/about" class="highlight">Find Out More</a>
      <% else %>
          <a href="/oauth/connect" class="highlight"><i class="fa fa-instagram"></i> Sign in with Instagram</a>
      <% end %>
      </div>

  
    <div class="col-md-6 text-center">
        <h3><strong>Try It Out Here!</strong></h3>
      <form action="/map/show">
        <input type="hidden" class="form-control" name="address" value="Grand Canyon, AZ">
        <button type="submit" class="btn btn-default btn-sm btn-about">Grand Canyon</button>
      </form>
        <form action="/map/show">
        <input type="hidden" class="form-control" name="address" value="Empire State Building">
        <button type="submit" class="btn btn-default btn-sm btn-about">Empire State Building</button>
      </form>
      <form action="/map/show">
        <input type="hidden" class="form-control" name="address" value="Chichen Itza">
        <button type="submit" class="btn btn-default btn-sm btn-about">Chichen Itza</button>
      </form>
     <form action="/map/show">
        <input type="hidden" class="form-control" name="address" value="Colosseum">
        <button type="submit" class="btn btn-default btn-sm btn-about">Colosseum</button>
      </form>
      <form action="/map/show">
        <input type="hidden" class="form-control" name="address" value="Golden Gate Bridge">
        <button type="submit" class="btn btn-default btn-sm btn-about">Golden Gate Bridge</button>
      </form>
        <form action="/map/show">
        <input type="hidden" class="form-control" name="address" value="Machu Picchu">
        <button type="submit" class="btn btn-default btn-sm btn-about">Machu Picchu</button>
      </form>
      <h3>Or Enter Any Full Address or Landmark in the Search Field</h3>
    </div>
    </div>

  </div>
  

    <div id="map-canvas"></div>

  </body>
  <script>



  </script>
</html>